<div class="main-container">
  <div class="text-opening col-md-6 col-xs-12" id="subscribe">
    <h1>Fitmess, no time for losers.</h1>
    <p>Fitmess made fun, finally.</p>
    <p>Get fit, get respect.</p>
     <button class="btn-customed">Pre-order me !</button>

  </div>

  <div class="image-opening col-md-6 col-xs-12">
      <%= image_tag "PhoneFront.png", class:"phone-front" %>
  </div>

  <div class="col-xs-12 newpage" id="preview">
    <h1>How Fitmess act on your body</h1>
    </div>
    <div class="col-xs-12 video">
    <iframe src="https://player.vimeo.com/video/47875656" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  </div>

<div class="thirdscreen col-xs-12">
  <div class="col-md-6 image-opening col-xs-12">
    <%= image_tag "cards.png", class:"phone-front" %>
  </div>
  <div class="col-md-6 text-opening col-xs-12">
    <h1>Fit game, never the same.</h1>
    <p>Enjoy. One screen at a time.</p>
    <p>Fat fun, fit feel.</p>
     <button class="btn-customed">Pre-order me !</button>

  </div>

</div>

<div class="fourscreen thirdscreen col-xs-12" id="invest">

  <div class="col-md-6 text-opening col-xs-12">
    <h1>We make the future. Join us.</h1>
    <p>Invest now. Get profits tomorrow.</p>
    <p>Meet us. Join us.</p>
     <button class="btn-customed-black">Invest</button>
  </div>
   <div class="col-md-6 image-opening col-xs-12">
    <%= image_tag "business.svg", class:"phone-front" %>
  </div>

</div>

<div class="row">
  <div class="col-xs-offset-2 col-xs-8 fourscreen">
  <div class="col-xs-6">
    <%= image_tag "profile-pic.png", class:"profile-pic" %>
    </div>
    <div class="col-xs-6 text-avatar">
    <p>Hi, my name is Pierre !!</p>
    <p>I am a UX / UI designer, let's build awesome things together.</p>
     <button class="btn-customed-pink">Contact</button>
     </div>
  </div>
</div>

</div>
<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    <p>Contact</p>
    <p>Invest</p>
    <p>CGU</p>
  </div>
</div>
