<div class="main-container">
  <div class="text-opening col-md-6 col-xs-12">
    <h1>Fitmess, no time for losers.</h1>
    <p>Fitmess made fun, finally.</p>
    <p>Get fit, get respect.</p>
     <button class="btn-customed">Pre-order me !</button>

  </div>

  <div class="image-opening col-md-6 col-xs-12">
      <%= image_tag "PhoneFront.png", class:"phone-front" %>
  </div>

  <div class="col-xs-12 newpage">
    <h1>How Fitmess act on your body</h1>
    </div>
    <div class="col-xs-12 video">
    <iframe src="https://player.vimeo.com/video/47875656" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  </div>

<div class="thirdscreen col-xs-12">
  <div class="col-md-6 image-opening col-xs-12">
    <%= image_tag "cards.png", class:"phone-front" %>
  </div>
  <div class="col-md-6 text-opening col-xs-12">
    <h1>Fit game, never the same.</h1>
    <p>Enjoy. One screen at a time.</p>
    <p>Fat fun, fit feel.</p>
     <button class="btn-customed">Pre-order me !</button>

  </div>

</div>

</div>
