<div class="main-container">
  <div class="text-opening col-md-6 col-xs-12">
    <h1>Fitmess, no time for losers.</h1>
    <p>Fitmess made fun, finally.</p>
    <p>Get fit, get respect.</p>
     <button class="btn-customed">Pre-order me !</button>

  </div>

  <div class="image-opening col-md-6 col-xs-12">
      <%= image_tag "PhoneFront.png", class:"phone-front" %>
  </div>

</div>
